<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/blog1.css">
    <script src="/static/js/home.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>  
  <div class="hero">
    <div class="hero_overlay">
        <div class="navcontainer">
            <div class="navbar">
                <a class="logo" href="{% url 'home' %}">Hussain B.</a>
                <a class="navlink" href="{% url 'blog' %}">Blog</a>
                <a class="navlink" href="{% url 'projects' %}">Projects</a>
                <a class="navlink" href="{% url 'resume' %}">Resume</a>
                <a class="navlink" href="{% url 'home' %}">Home</a>
            </div>
        </div>
        <div>
        <h1 class="page">Blog</h1>
        </div>
    </div>
    </div>
    <br>
    <div class="section">
        <h1>Coming Soon...</h1>
    </div>
    <br>
<div class="footer">
    <h1>Get in touch</h1>
    <p>Interested in my work? I'd love to hear from you! Drop me a line, and let's bring creative ideas to life.</p>
    <a href="https://www.linkedin.com/in/hburhanuddin/" class="fa fa-linkedin"></a>
    <a href="https://github.com/hussainBurhan" class="fa fa-github"></a>
    <a href="mailto: hussainburhan.inbox@gmail.com" class="fa fa-envelope"></a>
</div>
</body>
</html>