<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/project1.css">
    <script src="/static/js/home.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>  
  <div class="hero">
    <div class="hero_overlay">
        <div class="navcontainer">
            <div class="navbar">
                <a class="logo" href="{% url 'home' %}">Hussain B.</a>
                <a class="navlink" href="{% url 'blog' %}">Blog</a>
                <a class="navlink" href="{% url 'projects' %}">Projects</a>
                <a class="navlink" href="{% url 'resume' %}">Resume</a>
                <a class="navlink" href="{% url 'home' %}">Home</a>
            </div>
        </div>
        <div>
        <h1 class="page">Projects</h1>
        </div>
    </div>
    </div>

<div class="main">
    <div class="container">
        <div class="ML">
            <h1 class="title">Artificial Intelligence & Machine Learning</h1>
            <div class="row">
                <div class="column">
                    <div class="thumbnail">
                        <img src="/static/images/heart_disease_project3.png" alt="">
                    </div>
                    <div class="content">
                        <a href="https://github.com/hussainBurhan/NESP-AI-DS-and-ML-Course-Heart-Disease-Prediction-Milestone-Project">Heart disease predictor</a>
                    </div>
                </div>
                <div class="column">
                    <div class="thumbnail">
                        <img src="/static/images/boston.png" alt="">
                    </div>
                    <div class="content">
                        <a href="https://github.com/hussainBurhan/NESP-AI-DS-and-ML-Course-Evaluation-of-a-Regression-Model-Exercise">House Price Predictor</a>
                    </div>
                </div>
                <div class="column">
                    <div class="thumbnail">
                        <img src="/static/images/spam2.png" alt="">
                    </div>
                    <div class="content">
                        <a href="https://github.com/hussainBurhan/Mindluster-NLP-Python-Project">Spam Filter</a>
                    </div>
                </div>
                <div class="column">
                    <div class="thumbnail">
                        <img src="/static/images/coming soon.png" alt="">
                    </div>
                    <div class="content">
                        <a href="">Coming Soon</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="ML">
            <h1 class="title">Web Development</h1>
            <div class="row">
                <div class="column">
                    <div class="thumbnail">
                        <img src="/static/images/web analyzer.png" alt="">
                    </div>
                    <div class="content">
                        <a href="https://github.com/hussainBurhan/NESP-Python-Course-Web-Analyzer-App">Web Analyzer App</a>
                    </div>
                </div>
                <div class="column">
                    <div class="thumbnail">
                        <img src="/static/images/coming soon.png" alt="">
                    </div>
                    <div class="content">
                        <a href="">Coming Soon</a>
                    </div>
                </div>
                <div class="column">
                    <div class="thumbnail">
                        <img src="/static/images/coming soon.png" alt="">
                    </div>
                    <div class="content">
                        <a href="">Coming Soon</a>
                    </div>
                </div>
                <div class="column">
                    <div class="thumbnail">
                        <img src="/static/images/coming soon.png" alt="">
                    </div>
                    <div class="content">
                        <a href="">Coming Soon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="footer">
        <h1>Get in touch</h1>
        <p>Interested in my work? I'd love to hear from you! Drop me a line, and let's bring creative ideas to life.</p>
        <a href="https://www.linkedin.com/in/hburhanuddin/" class="fa fa-linkedin"></a>
        <a href="https://github.com/hussainBurhan" class="fa fa-github"></a>
        <a href="mailto: hussainburhan.inbox@gmail.com" class="fa fa-envelope"></a>
      </div>
</body>
</html>