<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/resume1.css">
    <script src="/static/js/home.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>  
  <div class="hero">
    <div class="hero_overlay">
        <div class="navcontainer">
            <div class="navbar">
                <a class="logo" href="{% url 'home' %}">Hussain B.</a>
                <a class="navlink" href="{% url 'blog' %}">Blog</a>
                <a class="navlink" href="{% url 'projects' %}">Projects</a>
                <a class="navlink" href="{% url 'resume' %}">Resume</a>
                <a class="navlink" href="{% url 'home' %}">Home</a>
            </div>
        </div>
        <div>
        <h1 class="page">Resume</h1>
        </div>
    </div>
    </div>
    <br>
<div class="container">
    <div class="profilesec">
        <h1>Profile Summary</h1>
        <hr>
        <div class='profile_row'>
            <div class='profile_left'>
            <img src='/static/images/profile.png' style="width: 100%;">
            </div>
            <div class='profile_right'>
            <p>Hey, I'm Hussain, a mechatronics engineer fascinated by the blend of engineering and advanced technologies like Data Science, Artificial Intelligence and Machine Learning. Currently shaping the future at Oxbridge Innovative Solutions in the STEM domain, where every project is a journey into innovation. Dive into my portfolio, and let's explore the exciting intersection of technology and creativity together! Whether you're a fellow enthusiast or a potential collaborator, I'm eager to connect and share ideas.</p>
            </div>
        </div>
    </div>

    <div class="worksec">
        <hr>
        <div class="row">
            <div class="column">
                <br>
                <h1>Work</h1>
                <br>
                <h2>Design Engineer</h2>
                <br>
                <h3>Oxbridge Innovative Solutions</h3>
                <br>
                <ul>
                    <li><h4>Technical Lead & IoT Systems Developer:</h4><p>Lead the design and development of IoT-based systems, ensuring technical excellence and innovation within a collaborative team.</p></li>
                    <li><h4>Curriculum Designer:</h4><p>Develop dynamic STEM curricula aligned with industry standards and technological advancements.</p></li>
                    <li><h4>STEM Instructor:</h4><p>Inspire students in STEM education, fostering hands-on learning and critical thinking.</p></li>
                    <li><h4>Media Team Lead:</h4><p>Lead the creation of compelling content, showcasing Oxbridge's innovative projects and impact in STEM education.</p></li>
                </ul>
        
            </div>
            <div class="column">
                <br>
                <h1>Education</h1>
                <br>
                <h2>Bachelors of Engineering Mechatronics</h2>
                <br>
                <h3>Air University, Islamabad</h3>
                <br>
                <h4>CGPA: 3.38</h4>
                <br>
                <h4>Courses:</h4>
                <div class="row">
                    <div class="column">
                        <ul>
                            <li>Robotics</li>
                            <li>Artificial Intelligence</li>
                            <li>Industrial Automation</li>
                            <li>Control Systems</li>
                            <li>Engineering Mechanics</li>
                            <li>3D CAD Designing</li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul class="center">
                            <li>Mechatronics Systems Design</li>
                            <li>Microcontrollers & Embedded Systems</li>
                            <li>Signals & Systems</li>
                            <li>Power Electronics</li>
                            <li>Modeling & Simulation</li>
                            <li>Calculus, LA and DE</li>
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    <div class="courses">
        <hr>
        <div class="row">
            <div class="column">
                <br>
                <h1>Courses & Certifications</h1>
                <br>
                <h2>NLP in Python Natural Language by Mindluster</h2>
                <br>
                <p>Successfully completed a certification in NLP in Python, demonstrating proficiency in natural language understanding and processing. Developed a spam filter as a practical application, showcasing practical skills in text analysis and machine learning.</p>
                <br>
                <h2>Machine learning, AI and Data Science by NESP</h2>
                <br>
                <p>I completed an intensive ML, AI, and DS course offered by the NESP. Throughout the program, I gained expertise in crucial aspects, including data preprocessing, analysis, model training, testing, and evaluation. Practical implementation was a key focus, and I honed my skills using Python libraries such as NumPy, Pandas, and Scikit Learn. This comprehensive training has equipped me with a strong foundation in machine learning and data science, allowing me to apply these skills effectively in real-world scenarios.</p>
                <br>
                <h2>Python for everyone by NESP</h2>
                <br>
                <p>I hold a certification in "Python for Everyone" from the NESP. This comprehensive program covered Python from basic to advanced levels, providing me with a solid foundation in the language. Additionally, I gained proficiency in utilizing the Django framework for web development. This certification has empowered me to navigate the intricacies of Python and leverage its capabilities for a range of applications, from scripting to web development.</p>
                <br>
                <h2>Industrial Automation by Electroskills Engineering</h2>
                <br>
                <p>I proudly hold a certification in Industrial Automation from Electroskills Engineering, where I delved into the intricacies of Siemens, Delta, and Allen Bradley PLCs. The program covered comprehensive training in Ladder Logic, providing a deep understanding of industrial automation control systems. Additionally, I acquired hands-on experience in HMI programming and gained proficiency in working with Variable Frequency Drives (VFDs). This certification has equipped me with the skills necessary to design, implement, and troubleshoot industrial automation solutions.</p>
                <br>
                <h2>Image Processing Onramp by Matlabacademy</h2>
                <br>
                <p>I have successfully completed the Image Processing Onramp certification by MathAcademy, specializing in image processing using MATLAB. Throughout the program, I developed a receipt recognition image processing program, showcasing practical skills in algorithm design and implementation. This certification has enhanced my proficiency in image processing techniques and their application, reinforcing my ability to solve real-world challenges in this dynamic field.</p>
            </div>
            <div class="column">
                <br>
                <h1>Skills</h1>
                <span class="tag-cloud">Python</span>
                <span class="tag-cloud">Scikit-Learn</span>
                <span class="tag-cloud">NLP</span>
                <span class="tag-cloud">C++</span>
                <span class="tag-cloud">Arduino</span>
                <span class="tag-cloud">Esp32</span>
                <span class="tag-cloud">MATLAB</span>
                <span class="tag-cloud">PCB Designing</span>
                <span class="tag-cloud">Proteus</span>
                <span class="tag-cloud">PLC programming</span>
                <span class="tag-cloud">SOLIDWORKS</span>
                <span class="tag-cloud">HTML</span>
                <span class="tag-cloud">CSS</span>
                <span class="tag-cloud">JS</span>
                <span class="tag-cloud">Django</span>
            </div>
        </div>
    </div>
</div>



<div class="footer">
    <h1>Get in touch</h1>
    <p>Interested in my work? I'd love to hear from you! Drop me a line, and let's bring creative ideas to life.</p>
    <a href="https://www.linkedin.com/in/hburhanuddin/" class="fa fa-linkedin"></a>
    <a href="https://github.com/hussainBurhan" class="fa fa-github"></a>
    <a href="mailto: hussainburhan.inbox@gmail.com" class="fa fa-envelope"></a>
</div>
</body>
</html>